/* Text Elements */

.dnet-title
{
  @apply font-mono;
  font-family: 'Ubuntu Mono';
  @apply text-center text-white text-6xl p-6;
}

.dnet-header-base
{
  @apply font-mono;
  font-family: 'Ubuntu Mono';
  @apply text-center text-white;
}

.dnet-h1
{
  @apply dnet-header-base;
  @apply text-4xl p-4;
}

.dnet-h2
{
  @apply dnet-header-base;
  @apply text-4xl;
}

.dnet-h2
{
  @apply dnet-header-base;
  @apply text-3xl p-4;
}

.dnet-p
{
  @apply font-sans;
  font-family: 'Ubuntu';
  @apply text-justify text-white text-base p-2;
}

.dnet-img-label
{
  @apply font-sans;
  font-family: 'Ubuntu Condensed';
  @apply text-xs;
  @apply text-gray-500;
  @apply text-right;
}
