/* Text Elements */

.dnet-title
{
  font-family: 'Ubuntu Mono', monospace;
  @apply text-center text-white text-6xl p-6;
}

.dnet-h1
{
  font-family: 'Ubuntu Mono', monospace;
  @apply text-center text-white text-4xl p-4;
}

.dnet-p
{
  font-family: 'Ubuntu', monospace;
  @apply text-justify text-white text-base p-2;
}

.dnet-img-label
{
  font-family: 'Ubuntu Condensed', monospace;
  @apply text-xs;
  @apply text-gray-500;
  @apply text-right;
}
