.dnet-blog-container {
    @apply p-4 m-auto;
    @apply max-w-screen-xl;
    
    @apply bg-black;
    @apply rounded-md;
    @apply border-4 border-red-900;
}

.dnet-blog-content {
    @apply font-mono;
    font-family: 'Ubuntu Mono';
    @apply text-white;
    @apply space-y-4;
}

.dnet-blog-content a
{
    @apply text-red-500;
}

.dnet-blog-content h1 {
    @apply font-mono;
    font-family: 'Ubuntu Mono';
    @apply text-6xl p-8;
}

.dnet-blog-content h2 {
    @apply font-mono;
    font-family: 'Ubuntu Mono';
    @apply text-4xl;
}

.dnet-blog-content h3 {
    @apply font-mono;
    font-family: 'Ubuntu Mono';
    @apply text-3xl;
}

.dnet-blog-content p {
    @apply font-sans;
    font-family: 'Ubuntu';
    @apply  text-base text-justify;
}
